@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  @apply text-primary-light;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: var(--primary-light); */

  scroll-behavior: smooth;
}

body {
  @apply min-h-[100dvh] bg-neutral;
}

.tab,
.badge,
.input,
.btn {
  @apply border-none relative decoration-[none] flex transition-all duration-500;
}

.btn {
  @apply rounded;
}

.tab {
  @apply p-2;
  &.active {
    @apply text-primary-dark;
  }
  &::after {
    @apply bg-current absolute h-0 w-full origin-bottom opacity-0 transition-all duration-300;
    content: '';
    inset-inline-start: 0;
    inset-block-end: 0;
  }
  &.active::after {
    @apply h-0.5 opacity-100;
  }
}

.badge {
  @apply rounded-full w-fit;
}
